.custom-shape-divider-bottom-1661939399 {
    
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1661939399 svg {
    position: relative;
    display: block;
    width: calc(131% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1661939399 .shape-fill {
    fill: #334155;
}